@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600;700&family=Poppins:ital,wght@0,200;0,400;0,600;1,200&family=Red+Hat+Display:wght@500;700;900&family=Roboto:ital,wght@0,100;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    min-height: 1000px;
    max-width: 1000px;
    background: #fff;
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left-side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.container .right-side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba();
}

img {
    width: 250px;
}